.main__content {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    max-width: 70vw;
    margin: 12px;
}

.card__content {
    height: 200px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #d5d4d4;
    cursor: pointer;
}

.card__header {
    align-items: center;
    display: flex;
    justify-content: center;
}

.card__body {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    font-family: sans-serif;
    margin-top: 12px;
}